@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-green-200);
  padding: 32px 16px;
  position: relative;
}

.contact__form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 24px;
  border-radius: 16px;
  gap: 32px;
}

.contact__title {
  font: var(--text-preset-heading);
  color: var(--color-grey-900);
  margin-bottom: 8px;
}

.contact__name-group {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact__first-name,
.contact__last-name,
.contact__email,
.contact__message,
.contact__fieldset {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact__fieldset {
  border: none;
  gap: 16px;
}

.contact__legend {
  font: var(--text-preset-body-regular-small);
  color: var(--color-grey-900);
  margin-bottom: 16px;
}

.contact__radio-label {
  font: var(--text-preset-body-regular-small);
  color: var(--color-grey-900);
  border: 1px solid var(--color-grey-500);
  padding: 12px 30px;
  border-radius: 8px;
  cursor: pointer;

  &:active, &:focus-within, &:focus {
    outline: 1px solid var(--color-green-600);
    background-color: var(--color-green-200);
  }
}

.contact__radio-label:has(input:checked) {
  background-color: var(--color-green-200);
  border: 1px solid var(--color-green-600);
}

.contact__radio {
  margin-right: 10px;
  accent-color: var(--color-green-600);
}

.contact__consent {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact__consent-row {
  display: flex;
  align-items: center;
  gap: 18px;
}

.contact__label--consent {
  font: var(--text-preset-body-regular-small);
  color: var(--color-grey-900);
}

.contact__label {
  font: var(--text-preset-body-regular-small);
  color: var(--color-grey-900);
  margin-bottom: 8px;
}

.contact__input,
.contact__textarea {
  padding: 12px;
  border: 1px solid var(--color-grey-500);
  border-radius: 8px;

  &:focus {
    outline: 1px solid var(--color-green-600);
  }
}

.contact__textarea {
  resize: none;
  min-height: 200px;
}

.contact__required {
  color: var(--color-green-600);
}

.contact__button {
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding: 16px 40px;
  background-color: var(--color-green-600);
  color: var(--color-white);
  font: var(--text-preset-body-bold);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.15s ease;
}

.contact__button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 1;
}

.contact__button:hover::after {
  opacity: 0.5;
}

.contact__button span {
  position: relative;
  z-index: 2;
}

.contact__error {
  display: none;
  color: var(--color-red);
  font: var(--text-preset-body-regular-small);
  margin-top: 6px;
}

.contact__error[aria-hidden="false"] {;
  display: block;
}

.contact__input[aria-invalid="true"],
.contact__textarea[aria-invalid="true"],
.contact__checkbox[aria-invalid="true"] {
  border: 1px solid var(--color-red);
}

.contact__checkbox {
  accent-color: var(--color-green-600);
}

.contact__success {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.8s cubic-bezier(.4,0,.2,1), transform 0.8s cubic-bezier(.4,0,.2,1);
  pointer-events: none;
  flex-direction: column;
  gap: 8px;
  background-color: var(--color-grey-900);
  padding: 24px;
  border-radius: 16px;
  color: var(--color-white);
  position: absolute;
  top: 3%;
  max-width: 330px;
}

.contact__success--visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.contact__success-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact__success-title {
  font: var(--text-preset-body-bold);
}

.contact__success-text {
  font: var(--text-preset-body-regular-small);
}

input:hover, .contact__radio-label:hover, .contact__textarea:hover {
  border-color: var(--color-green-600);
}

.attribution {
  margin-top: 16px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {

  .contact {
    padding: 128px 16px;
  }

  .contact__form {
    width: 100%;
    max-width: 690px;
    gap: 24px;
    padding: 40px;
  }

  .contact__name-group {
    flex-direction: row;
    gap: 16px;
  }

  .contact__first-name,
  .contact__last-name {
    flex: 1;
  }

  .contact__fieldset {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .contact__radio-group {
    display: flex;
    gap: 16px;
  }

  .contact__radio-label {
    flex: 1;
  }

  .contact__success {
    max-width: none; 
  }
}

@media (min-width: 1024px) {
  .contact__form {
    max-width: 740px;
  }
}