@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-green-200);
  padding: 32px 16px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 24px;
  border-radius: 16px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}