@import url(variables.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-green-200);
  padding: 32px 16px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 24px;
  border-radius: 16px;
  gap: 24px;
}

.contact__title {
  font: var(--text-preset-heading);
  color: var(--color-grey-900);
  margin-bottom: 8px;
}

.contact__name-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact__first-name,
.contact__last-name,
.contact__email,
.contact__message,
.contact__fieldset {
  display: flex;
  flex-direction: column;
}

.contact__fieldset {
  border: none;
  gap: 16px;
}

.contact__legend {
  font: var(--text-preset-body-regular-small);
  color: var(--color-grey-900);
  margin-bottom: 16px;
}

.contact__radio-label {
  font: var(--text-preset-body-regular-small);
  color: var(--color-grey-900);
  margin-right: 16px;
  border: 1px solid var(--color-grey-500);
  padding: 12px 30px;
  border-radius: 8px;
  cursor: pointer;
}
.contact__radio {
  margin-right: 10px;
}

.contact__consent {
  display: flex;
  align-items: center;
  gap: 18px;
  margin: 16px 0;
}

.contact__label--consent {
  font: var(--text-preset-body-regular-small);
  color: var(--color-grey-900);
}

.contact__label {
  font: var(--text-preset-body-regular-small);
  color: var(--color-grey-900);
  margin-bottom: 8px;
}

.contact__input,
.contact__textarea {
  padding: 12px;
  border: 1px solid var(--color-grey-500);
  border-radius: 8px;
}

.contact__textarea {
  resize: none;
  min-height: 200px;
}

.contact__required {
  color: var(--color-green-600);
}

.contact__button {
  padding: 16px 40px;
  background-color: var(--color-green-600);
  color: var(--color-white);
  font: var(--text-preset-body-bold);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact__error {
  display: none;
}

.contact__success {
  display: none;
}

.attribution {
  margin-top: 16px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}